CompileFlags:
  Add:
    - "--include-directory=/usr/include/qt"
    - "--include-directory=/usr/include/qt/QtCore"
    - "--include-directory=/usr/include/qt/QtGui"
    - "--include-directory=/usr/include/qt/QtWidgets"
    - "--include-directory=/usr/include/qt/QtQml"
    - "--include-directory=/usr/include/qt/QtQuick"
    - "--include-directory=/usr/include/qt/QtUiPlugin"
    - "--include-directory=${workspaceFolder}"
    - "--include-directory=${workspaceFolder}/**"
